*, *::before, *::after {
    box-sizing: border-box;
}
:root{
    --skyblue: #129AF2;
    --green: #18e295;
    --pink: rgb(245, 10, 139);
    --back: #081f24;
}
body{
    color: #fff;
    background-color: #081f24;
}

/*FOR ALL*/
.cv-sections{
    padding: 35px 140px;
}
div[class^="section"]{
    padding: 30px 0px;
}
div[class^="section-"] .title-section h2{
    font-weight: 600;
}
div[class^="section-"] .title-section span{
    font-family: monospace;
    font-size: 14px;
    color: var(--skyblue);
}
div[class^="section-"]{
    scroll-margin-top: 30px;
}

/*NAVBAR*/
.navbar{
    border-bottom: 3px solid var(--pink);
    background-color: rgb(18, 154, 242) !important;
}
.navbar-brand{
    margin-left: 30px;
    color: #fff!important;
}
.nav-link{
    color: #fff!important;
    font-family: monospace;
}
.contact-top-link{
    margin-right: 40px;
}
.offcanvas-body {
    padding-top: 0px;
}
@media screen and (max-width: 974px){
    .offcanvas {
        background: var(--pink);
    }
}
/*.offcanvas {
    transform: none;
    background: red;
}*/
.feature-description{
    /*background-color: #081f24;*/
    font-family: consolas;
}


/*Seccion 1*/
.section-1{
    padding-top: 50px;
    padding-bottom: 100px!important;
}
#home {
    padding-top: 100px;
}
.section-1 .intro-p {
    color: var(--skyblue);
    font-size: 14px;
    font-weight: 300;
    font-family: monospace;
}
.title-section{
    color: var(--green);
    display: flex;
}
div[class^="section-"] .title-section .line-title {
    width: 100px;
    height: 3.5px;
    background-color: black;
    margin-left: 17px;
    align-self: center;
    background-color: var(--green);
}
.section-1 h1 {
    font-weight: 700;
    font-size: 70px;
    color: var(--green);
}
.section-1 h2 {
    color: #d8d8d8;
    font-weight: 500;
    font-size: 60px;
}
.section-1 .description {
    color: #d8d8d8;
    width: 100%;
    max-width: 450px;
    margin-top: 40px;
}
@media (max-width: 600px){
    .section-1 h1 {
        font-size: 40px;
    }
    .section-1 h2 {
        font-size: 24px!important;
    }
    .social-responsive-icons {
        display: flex!important;
        flex-direction: column;
    }
    .social-responsive-icons .social-icon, .sidebar-component a span {
        
        font-size: 18px;
        margin-right: 10px;
    }
}


/*Lateral bar*/
.social-responsive-icons{
    display: none;
}
.social-responsive-icons a{
    font-family: monospace;
}
.container-icons .line {
    width: 2.5px;
    height: 172px;
    margin-top: 10px;
    background-color: #d8d8d8;
}
/*.section-bg{
    padding-left: 20px;
    padding: 40px 0px;
}*/
.left-side-component{
    position: fixed;
}
.container-icons{
    z-index: 10;
    margin-top: 195px;
    align-items: center;
    width: 120px;
}
.accordion-icon{
    margin-right: 5px;
}
.social-media{
    color: #d8d8d8;
    margin: 10px;
    text-decoration: none;
}
.social-icon{
    font-size: 24px;
}


/*Seccion 2*/
.section-2{
    padding-bottom: 0px!important;
}
.container-about{
    display: grid;
    grid-template-columns: 1fr 300px;
}
.about-image{
    /*width: 65%;*/
    width: 100%;
}

.mine_img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 5px solid rgb(248, 248, 248);
    background-image: url('./public/photo_portfolio.jpg');
    background-position: 0px 10%;
    background-size: cover;
    overflow: hidden;
    /*background-position: top center;
    margin: 0px;
    background-color: rgb(248, 248, 248);*/
}
.about-me-list{
    font-family: monospace;
    color: var(--pink);
    list-style: square inside;
}

/*Seccion Grid*/
.intro-grid{
    padding: 0px 140px;
    padding-bottom: 20px;
}
.grid-css{
    z-index: -10;
    /*background-color: red;*/
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 340px);
}
/*.feature-section{
    position: relative;
    border: 1px solid #808080;
    padding: 50px;
    z-index: 0;
}
.feature-section::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}*/
.feature-section{
	position: relative;
	font-weight: 30em;
}
#beautiful-name{
    margin-bottom: 15px;
}
.feature-title{
	color: var(--pink);
}
.feature{
	position: absolute;
	bottom: 0;
	background: rgba(10, 32, 41, 0.65);
    /*#081f24*/
	margin: 0;
	width: 100%;
	height: 100%;
	/*display: flex;*/
	align-items: center;
	justify-content: center;
    padding: 60px 50px;
}
.intro-desc{
    width: 50%;
}
.btn{
    border: 4px solid var(--pink);
    color: var(--pink);
}
.btn a{
    text-decoration: none;
}
.btn:hover{
    color: var(--pink);
    text-decoration: underline;
}
.feature-section:nth-child(1){
    grid-row: 1/span 2;
    grid-column: 1/span 2;
    background: url('https://www.lockheedmartin.com/content/dam/lockheed-martin/eo/photo/webt/webt-woman-in-math-lead.jpg.pc-adaptive.full.medium.jpeg');
}
.feature:nth-child(5){
    padding-left: 120px;
}
.feature-section:nth-child(2){
    grid-row: 1/span 2;
    background: url('https://images.ctfassets.net/yr4qj72ki4ky/6G2JeQnM8bsnjgoJBjljCh/f30782e127727ee309ebf87fb59cf446/best-programming-languages-2020-Hero.jpg?q=72');
}
.feature-section:nth-child(3){
    background: url('https://www.obsbusiness.school/sites/obsbusiness.school/files/images/que-es-business-intelligence_1.jpg');
}
.feature-section:nth-child(4){
    background: url('https://cadi.cl/site/wp-content/uploads/BeFunky-Design.png');
}

.skill-list{
    font-family: monospace;
    color: var(--skyblue);
    list-style: square inside;
}

/*Proyects*/
.box-container {
    gap: 10px;
    margin-bottom: 20px;
}

.box {
    position: relative;
    /*width: 300px;
    height: 550px;*/
    width: 70%;
    height: 430px;
    background: #000;
    /*box-shadow: 0 30px 30px rgba(0,0,0,.5);*/
  }
  
  .box .imgBx {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .box .imgBx .imgContent{
    background-size: cover;
    overflow: hidden;
    position: absolute;
    /*top: 0;
    left: 0;*/
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    transition: 0.5s;
  }
  .box:nth-child(1) .imgBx .imgContent{
    background-image: url('./public/movieCartApp/movie-cart-app.JPG');
    background-position: top right;
  }
  .box:nth-child(2) .imgBx .imgContent{
    background-image: url('./public/proyectoPOOGUI/proyectpoo.JPG');
  }
  .box:nth-child(3) .imgBx .imgContent{
    background-image: url('./public/descentralizedTaskApp/descentralized-taskapp.JPG');
    background-position: center center;
  }
  .box:nth-child(4) .imgBx .imgContent{
    background-image: url('./public/Rproyect1/r-proyect1.JPG');
  }

  .box:hover .imgBx img {
    opacity: 0;
  }
  
  .box .content {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    background: var(--green);
    transition: 0.5s;
    overflow: hidden;
    color: var(--back);
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;*/
    padding: 15px;
    box-sizing: border-box;
  }
  .box:last-child .content {
    height: 60px;
  }
  
  .box:hover .content {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
  }
  
  .box .content h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    align-self: center;
  }
  
  .box .content p{
    margin: 10px 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: justify;
  }
  
  .box:hover .content p{
    opacity: 1;
    transition-delay: 0.5s;
  }

/*SECCION 7*/
.accordion-button, .accordion-item, .accordion-button:not(.collapsed) {
    background-color: var(--back);
    color: var(--green);
}
.accordion-item {
    border: 1px solid var(--green);
}

/*Final Section*/
.section-8 p {
    font-family: monospace;
    font-size: 17px;
    font-weight: 400;
    max-width: 600px;
    margin-top: 20px;
}
@media screen and (max-width: 690px){
    .box:nth-child(2) .content {
        height: 80px;
    }
    .box:hover .content {
        height: 100%;
    }
    .mine_img {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 890px){
    .about-image {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    .container-about{
        display: flex;
        flex-direction: column-reverse;
    }
    .box {
        width: 100%;      
    }
}

@media screen and (max-width: 600px){
    .about-image {
        padding-bottom: 5px;
    }
    .container-icons{
        display: none!important;
    }
    
    .cv-sections, .intro-grid {
        padding: 35px 40px;
    }
    .box .content {
        bottom: 0px;
        left: 0%;
        width: 100%;
    }
    .about-me-list {
        padding-left: 0px;
    }
    .grid-css {
        grid-template-columns: 1fr;
        grid-template-rows: 420px repeat(3, 340px);
    }
    .feature-section{
        grid-row: span 1!important;
        grid-column: span 1!important;
    }
    .feature-section .feature:nth-child(1){
        padding-left: 50px!important;
    }
    .intro-desc {
        width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1010px){
    .grid-css {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 560px 380px; 
    }
    .cv-sections {
        padding: 35px 70px 35px 140px;
    }
    .feature-section{
        grid-row: span 1!important;
        grid-column: span 1!important;
    }
    .feature-section:nth-child(odd) .feature{
        padding-left: 120px!important;
    }
    .intro-desc {
        width: 100%;
    }
}

@media screen and (max-width: 295px){
    .mine_img {
        height: 210px;
    }
    .box:nth-child(2) .content {
        height: 100px;
    }
    .box:hover .content {
        height: 100%;
    }
}